<section>
  <h1>Mohankumar Swaminathan</h1>
  <p> <a href="http://www.smartmohi.com" target="_blank" alt="Mohankumar Swaminathan, Smartmohi photo"><img src="http://s.gravatar.com/avatar/e2af074371852958c2035c9d4ffb069a?s=80" style="vertical-align:top"></a> Co-founder <a href="http://www.tinywall.com" target="_blank">Tinywall</a>. <br/> An award winning <a href="http://in.linkedin.com/in/smartmohi" target="_blank">solutions consultant</a> from Bangalore, India. Driven by entrepreneurial spirit and passion towards work, believe in smart work also like to handle challenging tasks.</p>
  <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.smartmohi.com&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId=402026113235257" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
</section>
